body {
	background:#2d2d2d;
	font-family:Arial, Helvetica, Sans-serif;
}
a{
	color: #ceccc6;
}

body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
  .container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.search {
  text-align: center;
}

.main h2{
	padding-left: 20px;
	padding-top: 20px;
	color: #272727;
}
.facebook{
  margin-left: 650px;
  margin-top: 0px;
}
.main p{
	text-align:justify;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

.logo{
	background-image: url('../img/logo.jpg');
	background-size: 260px 120px;
	position:absolute; 
	width:260px; 
	height: 120px;
	background-repeat: no-repeat;
	border-radius: 5px;
	margin-left: 160px;
  margin-top: 15px;
}

.direccion{
  background-image: url('../img/direccion.png');
  background-repeat: no-repeat;
 
}
.form-cont input, textarea{
  width: 256px;
}
.send{
  width: 270px;
  height: 50px;
}
.telefono{
  background-image: url('../img/telefono.png');
  background-repeat: no-repeat;
 
}
.email{
  background-image: url('../img/mail.png');
  background-repeat: no-repeat;
 
}
.atencion{
  background-image: url('../img/atencion.png');
  background-repeat: no-repeat;
 
}
.tablacontactanos span{
  padding-left: 70px;
  display: block;
  margin: 20px 0px;
  min-height: 46px;
}
.main{
	background-color: #ceccc6;
	border-radius: 5px;
	border-top: 50px;
	width: 700px;
}

.row-fluid p, h2, h4{
	color: #ceccc6;
}

.row-fluid h5{
	font-size: 15px;
	color: #1798af;
}

.masthead{
	position: center;
	background-color: #6b7494;
	height: 150px;
	width: 1000px;
	border-radius: 5px;
	margin-left: -150px;
  margin-top: -24px;
  font-size: 18px;
}
.tablacontactanos{
	color: #ceccc6;
}
.footer p{
	color: #ceccc6;
}

.tablacontactanos td{
	width: 350px;

}
.nav {
	margin-top: 70px;
	margin-right: 170px;
}
/*slider*/
#slider1 {
          width: 700px; /* important to be same as image width */
          height: 200px; /* important to be same as image height */
          position: relative; /* important */
        overflow: hidden; /* important */
        margin-top: 10px;
        border-radius: 5px;
      }

#slider1Content {
    width: 720px; /* important to be same as image width or wider */
    position: absolute;
  top: 0;
  margin-left: 0;
}
.slider1Image {
    float: left;
    position: relative;
  display: none;
}
.slider1Image span {
    position: absolute;
  font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 694px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
}
.clear {
  clear: both;
}
.slider1Image span strong {
    font-size: 14px;
}
.left {
  top: 0;
    left: 0;
  width: 110px !important;
  height: 280px;
}
.right {
  right: 0;
  bottom: 0;
  width: 90px !important;
  height: 290px;
}
.top {
  top: 0;
  left: 0;
  width: 700px;
}
.bottom {
  bottom: 0;
  left: 0;
  width: 700px;
}
ul { list-style-type: none;}
/*///////////////////////////////7*/

/* Para evitar margenes y espacios */


 
.menu-fijo {
  padding-top: 10px;
  padding-left: 300px;
  background-color: #6b7494;
  position: fixed;
  margin-left: 0px;
  border-radius: 5px;
  width: 700px;
  margin-top: 4px;
  height: 50px;
  
  font-size: 20px;
  z-index: 2;
  background-image: url('../img/Logo_Rogger_menu.jpg');
  background-size: 150px 60px;
  background-repeat:no-repeat; 
  background-position: 17%; 
  font: oblique 110% cursive; 
}

.menu-fijo li{
  padding-left: 35px;
}
#inicio{
  height: 50px;
}

#autoc{
  z-index: 1;
}

/*////*/

#column-right {
  width: 180px;
  height: 100px;
  position: fixed;
  right: 0px;
  z-index: 100;
  bottom: 420px;  

}
